<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <style>
      body {
        text-align: left;
        font-size: .8rem;
        font-family: Consolas;
      }

      td, th {
          vertical-align: top;
          border-top-style: dashed;
          border-right-style: dashed;
          border-width: 1px;
          padding: .4rem;
      }

      tr td:nth-child(1), tr th:nth-child(1) {
          border-left-style: dashed;
          border-width: 1px;
      }

      tr:last-child td {
          border-bottom-style: dashed;
          border-width: 1px;
      }

      ul {
          margin: 0;
          padding: 0;
          height: 1rem;
          overflow-y: hidden;
      }

      li {
          list-style: none;
      }

      input {
        display: none;
      }

      label {
        float: left;
        margin-right: .5rem;
      }

      label:after {
        content: "+";
      }

      input:checked ~ ul {
        height: 100%;
      }

      input:checked ~ label:after {
        content: "-";
      }
    </style>
  </head>
  <body>
    <div id='table'></div>
    <script>
      var data = <%= json %>;

      function uniq(key){
        return function (){
          var d = data.reduce(function(result, e){
            result[e[key]] = null;
            return result;
          }, {});
          return Object.keys(d);
        }
      }

      var methods = uniq('method');
      var threads = uniq('thread');

      Array.prototype.push_mass = function(){
        for(var i = 0; i < arguments.length; i++){
          this.push(arguments[i]);
        }
      };

      // table
      (function(){

        function ul(arr){
          var ul = ['<ul>'];
          arr.forEach(function(r){
            ul.push_mass('<li>', r, '</li>');
          })
          ul.push('</ul>');
          return ul.join('');
        }

        function checkbox(i){
          var id = 'checkbox-' + i
          return '<input id="' + id + '" type="checkbox"><label for="' + id + '"></label>'
        }

        var table = ['<table><thead><tr><th>thread</th><th>method</th><th>stack</th></tr></thead><tbody>'];

        data.forEach(function(r, i){
          table.push_mass('<tr id="', i, '">', '<td>', r.thread, '</td>', '<td>', r.method, '</td>', '<td>', checkbox(i), ul(r.stack), '</td>', '</tr>');
        });

        table.push('</tbody></table>');

        document.getElementById('table').innerHTML = table.join('');
      })();
    </script>
  </body>
</html>
